<div>
  <mat-form-field appearance="fill">
    <mat-label>Password Length</mat-label>
    <input matInput type="number" placeholder="Enter length" [(ngModel)]="passwordLength" min="1">
  </mat-form-field>
  <mat-checkbox [(ngModel)]="includeNumbers">Include Numbers</mat-checkbox>
  <mat-checkbox [(ngModel)]="includeSpecialCharacters">Include Special Characters</mat-checkbox>
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="generatePassword()">Generate Password</button>
  </div>
  <div *ngIf="generatedPassword" class="generated-password" [@fadeIn]>
    <mat-card>
      <mat-card-content class="password-container">
        <p>Generated Password: <strong>{{ generatedPassword }}</strong></p>
        <button mat-raised-button color="accent" (click)="copyPassword()">Copy</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
