mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

mat-checkbox {
  display: block;
  margin-bottom: 10px;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

button.mat-raised-button {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  background-color: rgba(0, 123, 255, 0.8); /* Use provided color scheme */
  color: #fff; /* Text color */
  border-radius: 30px; /* Rounded corners */
}

button.mat-raised-button:hover {
  box-shadow: 0 0 30px rgba(0, 123, 255, 0.8); /* Increase glow effect */
  transform: scale(1.05);
}

button.mat-raised-button::before {
  content: ""; /* Create pseudo-element for background glow */
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(45deg, rgba(0, 123, 255, 0.8), rgba(0, 123, 255, 0.6), rgba(0, 123, 255, 0.4)); /* Use provided color scheme with gradient */
  background-size: 400%;
  border-radius: 30px; /* Rounded corners */
  opacity: 0;
  transition: opacity 0.3s ease;
}

button.mat-raised-button:hover::before {
  opacity: 1; /* Show background glow on hover */
  animation: animate 8s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

.generated-password {
  margin-top: 20px;
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
}

.password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Space between password and button */
}

.generated-password p {
  font-size: 1.5em;
  font-weight: bold;
  display: inline-block; /* Ensure it is displayed inline */
  word-break: break-word; /* Handle long passwords gracefully */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
